@import url(./background.css);
@import url(./forms.css);
/*@import url(./contato.css);*/
@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');

.bangers-regular {
  font-family: "Bangers", system-ui;
  font-weight: 400;
  font-style: normal;
}

* {
    text-decoration: none;
    scroll-behavior: smooth;
  }
  
body {
    background-image: url(/assets/background.mp4);
    margin-top: 12rem;
  }
  
  h1,
  h2,
  h3 {
    font-family: "Bangers", sans-serif;
    background-color: none;
    color: #ffffff;
    margin-left: 20px;
  }

  h4{
    font-family: "Bangers", sans-serif;
    background-color: none;
    color: #000000a2;
    margin-left: 20px;
  }
  
p {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: medium;
    font-style: normal;
    color: #ffffff;
    margin-left: 20px;
    margin-right: 35px;
  }

  ul{
    list-style: none;
    gap: 10px;
    padding: 20px;
  }
  .centered-list {
    text-align: center; /* Centraliza o conteúdo da lista */
  }
  
  
  li {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: medium;
    font-style: normal;
    color: #ffffff;
    margin-left: 20px;
    margin-right: 35px;
  }
  
  header {
    position: sticky;
    top: 0;
    display: flex;
    justify-content:space-between;
    height: 150px;
    background-color: #000000a2;
    color: #ffffff98;
    align-items: center;
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    padding: 10px;
    z-index: 10;
    backdrop-filter: blur(10px);
    
  }

  #logo-img {
    align-items:center;
    height: auto;
    width: 250px;
    
  }
  
  .links {
    font-family: "Poppins", sans-serif;
    display: flex;
    justify-content: space-around;
    width: 60%;
    
  }
  .links a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 1rem;
    border-bottom: 3px solid transparent;
    border-radius: 6px;
    transition: 0.3s ease-in-out;
  }
  
  .links a:hover {
    border-bottom: 3px solid #a3191998;
    color: #a3191998;
    transform: scale(1.1);
    
  }

  #main-new {
    width: 45%;
    height: auto;
    margin-left: 20px;
    margin-right: 40px;
    margin-bottom: 20px;
    border-radius: 10px;
    border: 1px solid #ffffff;
    box-shadow: 0 0 10px #ffffff;
    z-index: 3;
    align-content:center;
  }

  #main-Sobre {
    width: 60%;
    height: auto;
    margin-bottom: 20px;
    border-radius: 10px;
    border: 1px solid #ffffff;
    box-shadow: 0 0 10px #ffffff;
    z-index: 3;
    text-align: center;
  }
  
  #aside {
    width: 35%;
  }
  
  #aside img {
    height: 95%;
    width: 95%;
    border-radius: 10px;
    object-fit: cover;
    margin-right: 30px ;
  }
  
  main {
    display: flex;
    justify-content: space-around;
    margin-top: 100px;
    text-align: center;
  }


  #Movies {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 15px;
    display: flex;
    justify-content: center;
    margin-left: 10px;
}


#img-1 {
    height: 400px;
    width: 300px;
    margin-right: 100px;
    transition: transform 0.3s ease;
}

#img-1:hover{
    transform: translateY(-15px);
}

#img-2 {
    height: 400px;
    width: 300px;
    transition: transform 0.3s ease;
}

#img-2:hover{
    transform: translateY(-15px);
}

#img-3 {
    height: 400px;
    width: 300px;
    margin-left: 100px;
    transition: transform 0.3s ease;
}

#img-3:hover{
    transform: translateY(-15px);
}

#img-4 {
  height: 400px;
  width: 300px;
  margin-left: 100px;
  transition: transform 0.3s ease;
}

#img-4:hover{
  transform: translateY(-15px);
}

#finish {
  margin-top: 2rem;
  text-align: center;
  margin-bottom: 2rem;
}

footer {
  background-color: #a3191998;
  height: auto;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 0px;
}

  footer a {
    color: #000000a2;
    text-decoration: none;
    font-weight: 500;
  }

.final {
    display: flex;
    align-items: center;
    justify-content: center;
} 

#linkedinimg {
  height: 50%;
    width: 50%;
    border-radius: 10px;
    transition: transform 0.3s ease;
    margin-left: 100px;
}

  #class {
    display: flex; 
    justify-content: center; 
    align-items: center; 
  }